
@model IEnumerable<ProjectManag.Models.project>
@using ProjectManag.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = " My Not Assigned Projects";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@{
    var UserId = User.Identity.GetUserId();
    ApplicationDbContext db = new ApplicationDbContext();
    var user = db.Users.Find(UserId);
    if (user.UserType == "Client")
    {
        <p>
            @Html.ActionLink("Create New Project", "CustomerCreate")
        </p>
    }
}
<h2>My Not Assigned Projects</h2>


<table class="table">
    <tr>


        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.decsription)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.skill_need)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.due_deta)
        </th>
        <th>
            @Html.DisplayName("Creation Date")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfHours)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.decsription)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.skill_need)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.due_deta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creation_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfHours)
            </td>


            <td style="font-size:medium ;">

                @Html.ActionLink("Edit", "CustomerEdit", new { id = item.id }) |
                @Html.ActionLink("Details", "CustomerDetails", new { id = item.id }) |
                @Html.ActionLink("Delete", "CustomerDelete", new { id = item.id })
            </td>
        </tr>
    }

</table>
