@model ProjectManag.Models.AssignJob

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Delivred To Client  ?</h3>
<div>


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.project.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.due_deta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.due_deta)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.project.creation_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.creation_date)
        </dd>







    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delivred To Customer" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "GetProjects")
        </div>
    }
</div>
