@using ProjectManag.Models
@using Microsoft.AspNet.Identity

@{


    if (Request.IsAuthenticated)
    {
        var UserId = User.Identity.GetUserId();
        ApplicationDbContext db = new ApplicationDbContext();
        var app = db.Users.Find(UserId);
        if (app.UserType == "Admin" || app.UserType == "Project Manager" || app.UserType == "Team Leader")
        {
            <br>
            <li style="color:aliceblue; font-weight:bold;">Email : @app.Email     </li>
            <br>
            <li style="color:aliceblue; font-weight:bold;">Phone : @app.PhoneNumber     </li>
            <br>
            <li style="color:aliceblue; font-weight:bold;">Job description : @app.UserType     </li>
            <br>
            <li style="color:aliceblue; font-weight:bold;">Skills : @app.Skills </li>
            <br>
        }
        else if (app.UserType == "Client")
        {
            <br>
            <li style=" color: black; font-weight: bold ;margin-right:30px">UserName: @app.UserName   </li>
            <br>
            <li style="color: black; font-weight: bold">Email: @app.Email     </li>
            <br>
            <li style="        color: black;
        font-weight: bold ;margin-right:30px">Phone: @app.PhoneNumber     </li>
            <br>
            <li style="        color: black;
        font-weight: bold;margin-right:30px">Job description : @app.UserType </li>
            <br>


        }
        else if (app.UserType == "Developer")
        {
            <li style="color:black; font-weight:bold;margin-right:30px">UserName: @app.UserName   </li>
            <br>
            <li style="color:black; font-weight:bold;margin-right:30px">Email: @app.Email     </li>
            <br>
            <li style="color:black; font-weight:bold;margin-right:30px">Phone: @app.PhoneNumber     </li>
            <br>
            <li style="color:black; font-weight:bold;margin-right:30px">Job description: @app.UserType </li>
            <br>
            <li style="color:black; font-weight:bold;margin-right:30px">Skills : @app.Skills </li>
            <br>
        }



    }


}